<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ServerName" value="KHOATVS\SQL2005" />
		<add key="DataBase" value="TVS_ChungCu.V.2" />
		<add key="UserID" value="sa" />
		<add key="PassWord" value="khoanv" />
		<add key="License" value="HMAHPIIINPGIUMUNGNUG" />
		<add key="Attach" value="0" />
		<add key="ReportPoss" value="1" />
		<add key="ReportPoss1" value="-30" />
		<add key="billPoss" value="0" />
		<add key="FrmDebtCustomer1" value="-60" />
		<add key="FrmDebtCustomer2" value="25" />
		<add key="frmReportDaily1" value="-50" />
		<add key="frmReportDaily2" value="125" />
		<add key="COM1" value="COM5" />
		<add key="COM2" value="" />
		<add key="P1" value="0388903452" />
		<add key="P2" value="0383552896" />
    <add key="DataDate" value="" />
    <add key="DataDate1" value="" />
    <add key="DataDate2" value="" />
    <add key="WarehousePKID" value="1" />
    <add key="WarehouseID" value="3" />
	</appSettings>
</configuration>